* {
    font-family: sans-serif;
}

h2, h2 a {
    color: darkslategray;
}

#headert {
    color: darkslategray;
    background-image: url("../img/AlaskaBl.jpg");
    background-size: cover;
    height: 400px;
    padding: 20px;
}

#logo img{
    height: 50px;
}

.btn {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin-bottom: 0.25em;
}