* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: dimgray;
}

body {
    background-color: #f8f9fa05 !important;
}

h1, header p, h2, h2 a {
    color: darkslategray;
}

#headert {
    color: darkslategray;
    background-image: url("/img/AlaskaBl.jpg");
    background-size: cover;
    height: 400px;
    padding: 20px;
}

#cover, #coverImg {
   max-width: 20em;
   margin: 0.5em;
}

#descrpt, #bio {
   margin: 0.5em;
   font-size: 1.5rem;
   vertical-align: middle;
}

#logo img {
    height: 50px;
}

.btn {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin-bottom: 0.25em;
}